<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">RedditNinja</a>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="toggleNavigation()" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Browse <span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Link</a>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown" dropdown> &lt;!&ndash; {1} &ndash;&gt;-->
          <!--<a dropdownToggle role="button" class="nav-link dropdown-toggle"> &lt;!&ndash; {2} &ndash;&gt;-->
            <!--Dropdown <span class="caret"></span>-->
          <!--</a>-->
          <!--<ul *dropdownMenu class="dropdown-menu"> &lt;!&ndash; {3} &ndash;&gt;-->
            <!--<li class="dropdown-item"><a href="#">Action</a></li>-->
            <!--<li class="dropdown-item"><a href="#">Another action</a></li>-->
            <!--<li class="dropdown-item"><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="dropdown-divider"></li>-->
            <!--<li class="dropdown-item"><a href="#">Separated link</a></li>-->
            <!--<li role="separator" class="dropdown-divider"></li>-->
            <!--<li class="dropdown-item"><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link disabled" href="#">Disabled</a>-->
        <!--</li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">/r/</span>
          </div>
          <input class="form-control" type="search" placeholder="all" aria-label="Search" #sub (keyup.enter)="browse(sub.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="search" (click)="browse(sub.value)">Go</button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</header>
